# NOTE: try to be consistent with other atom packages. In particular
# the symbols-view package seems popular.
'.platform-darwin .editor':
  'cmd-alt-down': 'linter-ocaml:locate'
  'cmd-alt-up': 'linter-ocaml:locate-return'
  'cmd-alt-shift-down': 'linter-ocaml:type-of'
  'cmd-alt-shift-up': 'linter-ocaml:type-of-widen'

'.platform-linux .editor':
  'ctrl-alt-down': 'linter-ocaml:locate'
  'ctrl-alt-up': 'linter-ocaml:locate-return'
  'cmd-alt-shift-down': 'linter-ocaml:type-of'
  'cmd-alt-shift-up': 'linter-ocaml:type-of-widen'
